*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-image: url("/img/background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}
header{
    width: 83px;
}
.menu-nav{
    height: 83px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 196px;
}
.logo{
    font-family: "Roboto";
    font-weight: 900;
    text-transform: uppercase;
}
.div-menu{
    display: flex;
    height: 100%;
}
.itens-menu{
    display: flex;
    list-style: none;
    width: 350px;
    justify-content: space-between;
    align-items: center;
    
}
.item{
    text-decoration: none;
    color: #0C0E36;
    font-family: Roboto;
    font-weight: 700;
    font-size: 14px;
}
.div-nuvem{
    width: 75px;
    background-color: #F70058;
    margin-left: 54px;
    justify-content: center;
    display: flex;
    align-items: center;
}
.div-clima{
    height: 100%;
    width: 160px;
    background-color: #0C0E36;
    color: #ffffffb3;
    font-family: Roboto;
    font-weight: 700;
    font-size: 10px;
}
.div-temperatura{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    height: 50%;
    margin: 0 10px;

}
.info-temperatura{
    color: white;
    font-size: 14px;
}
.container{
    padding: 186px 0 0 196px;

}
.titulo{
    font-size: 48px;
    width: 538px;
    color: #0C0E36;
    font-family: "work sans";
}
.info{
    font-family: Work sans;
    font-weight: 400;
    color: #0C0E36;
    font-style: 18px;
    width: 615px;
    text-align: justify;
    line-height: 30px;
}
.buttons{
    margin-top: 40px;
}
.btn{
    height: 49px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    font-family: work sans;
    font-weight: 700;
}
.btn-season{
    background-color: #F70058;
    color: white;
    padding: 15px 27px;
    border:  #F70058 solid 5px;
}
.btn-season:hover{
    background-color: white;
    color: #F70058;
    border:  #F70058 solid 5px;
}

.btn-tickets{
    color: #F70058;
    border: #F70058 solid 5px;
    padding: 15px 27px;
    margin-left: 30px;
}
.btn-tickets:hover{
    background-color: #F70058;
    color: #fff;
}